<template>
  <Layout>
    <template #nav-bar-content-before>
      <Clock />
      <User />
    </template>
  </Layout>
</template>

<script setup>
import { isSignInWithEmailLink, signInWithEmailLink } from 'firebase/auth'
import { useRouter } from 'vitepress'
import DefaultTheme from 'vitepress/theme'
import { onMounted } from 'vue'

import Clock from './components/Clock.vue'
import User from './components/User.vue'
import { auth, email } from './useFirebase'

const { Layout } = DefaultTheme
const router = useRouter()

onMounted(checkLoginLink)

// Check for login procedure
async function checkLoginLink() {
  try {
    // Confirm the link is a sign-in with email link.
    if (isSignInWithEmailLink(auth, window.location.href)) {
      // The client SDK will parse the code from the link for you.
      await signInWithEmailLink(auth, email, window.location.href)
      // Clear query params
      router.go(window.location.origin + window.location.pathname)
    }
  } catch (error) {
    console.error(error.code, error.message)
  }
}
</script>
