/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #ffeb3b;
  --vp-c-brand-1: #fff176;
  --vp-c-brand-2: #fff59d;
  --vp-c-brand-3: #fff9c4;
  --vp-c-brand-light: var(--vp-c-brand-1);
  --vp-c-brand-lighter: var(--vp-c-brand-2);
  --vp-c-brand-lightest: var(--vp-c-brand-3);
  --vp-c-brand-dark: #fbc02d;
  --vp-c-brand-darker: #f57f17;
  --vp-c-brand-dimm: rgba(14, 143, 19, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: var(--vp-c-brand);
  /* --vp-home-hero-name-color: transparent; */
  /* --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #eb2610 30%,
    #0e8f13
  ); */

  --vp-home-hero-image-background-image: linear-gradient(-90deg, #89232e 50%, #074809 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.VPFeatures .VPImage {
  width: auto;
  height: 120px;
  max-height: 120px;
  margin: 0 auto;
}

.VPFeatures h2.title {
  text-align: center;
}

.VPFeatures h3 {
  text-align: center;
}

.VPFeatures h4 {
  margin-top: 12px;
  color: var(--vp-c-text-1);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

/**
 * Custom style: hide theme button
 * -------------------------------------------------------------------------- */

.VPNavBarExtra,
.VPNavBarAppearance {
  display: none !important;
}

/**
 * Custom style
 * -------------------------------------------------------------------------- */

* {
  outline: none;
}

.dark body {
  background-image: url(./assets/background.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.dark .aside-curtain {
  background: transparent !important;
}

.dark .disabled {
  color: var(--vp-c-text-3);
}

hr,
.hr {
  margin: 1rem auto;
  text-align: center;
  opacity: 0.2;
}

/**
 * Page style
 * -------------------------------------------------------------------------- */

.VPPage {
  padding: 26px 32px;
  /* max-width: var(--vp-layout-max-width); */
  margin: 0 auto;
}

.VPPage h1 {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  outline: none;
}

.VPPage h2 {
  padding-top: 16px;
  margin: 32px 0 16px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.dark .VPPage a {
  color: var(--vp-c-brand-lighter);
}
.dark .VPPage h1:hover a,
.dark .VPPage h2:hover a,
.dark .VPPage a:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

.VPPage .header-anchor {
  float: left;
  padding-right: 0.23em;
  margin-left: -0.87em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.VPPage a {
  font-weight: 500;
  color: var(--vp-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}
