<!-- https://www.iconfinder.com/search/icons?family=bootstrap-fill -->
<template>
  <span>
    <svg
      class="bi bi-dash-circle-fill"
      fill="currentColor"
      height="16"
      viewBox="0 0 16 16"
      width="16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
    </svg>
  </span>
</template>
