<template>
  <div class="capacity-counter" :class="{ 'cc-only-label': onlyLabel }">
    <label>{{ label }}</label>

    <template v-if="!onlyLabel">
      <span class="cc-current">{{ current }}</span>

      <span v-if="simpleCounter" class="cc-start" />
      <span v-else class="cc-start">/ {{ start }} {{ unit }}</span>

      <template v-if="isAuthenticated">
        <template v-if="simpleCounter">
          <BtnAdd title="Ajouter" class="cc-action" @click="add" />
          <BtnMinus title="Retirer" class="cc-action" @click="remove" />
        </template>

        <template v-else-if="resetToStart">
          <BtnMinus title="Utiliser" class="cc-action" @click="remove" />
          <BtnMoon title="Se reposer" class="cc-action" @click="reset" />
        </template>

        <template v-else>
          <BtnStart title="Démarrer" class="cc-action" @click="startCounter" />
          <BtnNext title="Avancer d'un tour" class="cc-action" @click="remove" />
          <BtnStop title="Arrêter" class="cc-action" @click="reset" />
        </template>
      </template>
    </template>
  </div>
</template>

<script setup>
import { getDoc, setDoc } from '@firebase/firestore'
import { onMounted, onUnmounted, ref } from 'vue'

import eventBus from '../eventBus'
import { docCacophonir, docDragann, docMirielle, useFirebaseUser } from '../useFirebase'
import BtnAdd from './BtnAdd.vue'
import BtnMinus from './BtnMinus.vue'
import BtnMoon from './BtnMoon.vue'
import BtnNext from './BtnNext.vue'
import BtnStart from './BtnStart.vue'
import BtnStop from './BtnStop.vue'

const { isAuthenticated } = useFirebaseUser()

const props = defineProps({
  char: { type: String, default: '' },
  id: { type: String, default: '' },
  label: { type: String, required: true },
  start: { type: Number, default: 0 },
  unit: { type: String, default: 'tours' },
  onlyLabel: { type: Boolean, default: false },
  simpleCounter: { type: Boolean, default: false },
  resetToStart: { type: Boolean, default: false },
  preventGlobalReset: { type: Boolean, default: false }
})

// Select correct character document
let charDoc = docMirielle
if (props.char === 'mirielle') charDoc = docMirielle
else if (props.char === 'dragann') charDoc = docDragann
else if (props.char === 'cacophonir') charDoc = docCacophonir

const current = ref()
onMounted(async () => {
  const savedValue = await getValue()
  current.value = !savedValue && savedValue !== 0 ? (props.resetToStart ? props.start : 0) : savedValue

  // Event listener to reset counters
  if (!props.preventGlobalReset) eventBus.on('reset-counters', reset)
})

onUnmounted(() => {
  // Destroy event listener to reset counters
  if (!props.preventGlobalReset) eventBus.off('reset-counters', reset)
})

// Start counter from start value
function startCounter() {
  current.value = props.start
  saveValue()
}
// Add 1 to counter
function add() {
  current.value = current.value + 1
  saveValue()
}
// Remove 1 from counter, 5 if ctrl key pressed
function remove(clickEvent) {
  let nbTurns = 1
  if (clickEvent.ctrlKey) nbTurns = 5

  current.value = Math.max(current.value - nbTurns, 0)
  saveValue()
}
// Reset to 0 or start value
function reset() {
  current.value = props.resetToStart ? props.start : 0
  saveValue()
}

// Data management with firebase
function saveValue() {
  if (!props.char || !props.id) return

  setDoc(charDoc, { [props.id]: current.value }, { merge: true })
}
async function getValue() {
  if (!props.char || !props.id) return

  const docSnap = await getDoc(charDoc)

  if (docSnap.exists()) {
    return Promise.resolve(docSnap.data()[props.id])
  } else {
    return Promise.resolve(props.start)
  }
}
</script>

<style>
.capacity-counter {
  display: flex;
  align-items: center;
}

.box .capacity-counter {
  justify-content: center;
  margin-top: 12px;
}

.box.transparent .capacity-counter {
  justify-content: start;
}

.capacity-counter label {
  display: inline-block;
  width: 150px;
  font-weight: 600;
}

.capacity-counter.cc-only-label label {
  width: auto;
}

.cc-current {
  display: inline-block;
  width: 25px;
}

.cc-start {
  display: inline-block;
  width: 100px;
}

.cc-action {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s color;
}

.cc-action-global {
  margin-left: 16px;
}

.cc-action:hover {
  color: var(--vp-c-brand-darker);
}

.dark .cc-action:hover {
  color: var(--vp-c-brand-lightest);
}
</style>
