<template>
  <div class="clock">{{ format(currentDate, 'd/MM/yyyy H:mm') }}</div>
</template>

<script setup>
import { format } from 'date-fns'
import { onMounted, onUnmounted, ref } from 'vue'

const currentDate = ref(new Date())
const timerRef = ref(0)

onMounted(() => {
  timerRef.value = window.setInterval(() => {
    currentDate.value = new Date()
  }, 1000 * 60)
})
onUnmounted(() => {
  window.clearInterval(timerRef.value)
})
</script>

<style>
.clock {
  padding: 0 12px;
  margin-left: 5rem;
  font-size: 14px;
  font-weight: 500;
}
</style>
