<template>
  <div class="equipment-container">
    <article class="equipment">
      <div class="equipment-type" :class="[type, { heavy: heavy }]" />

      <slot />
    </article>
  </div>
</template>

<script setup>
defineProps({
  type: { type: String, default: '' },
  heavy: { type: Boolean, default: false }
})
</script>

<style>
.equipment-container {
  min-width: 450px;
}

.equipment {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px;
  background-color: var(--vp-c-bg-soft);
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
}

.equipment-type {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  margin-right: 12px;
  background-image: url('../assets/icons-32x32-bg-3c.png');
  background-repeat: no-repeat;
}

.dark .equipment-type {
  background-image: url('../assets/icons-32x32-bg-3b.png');
}

/* To calculate position: 32px * ([column|line] - 1) */

/* 6th line */
.equipment-type.rapier {
  background-position: -96px -160px;
}

.equipment-type.small-axe {
  background-position: -320px -160px;
}

.equipment-type.axe {
  background-position: -352px -160px;
}

/* 7th line */
.equipment-type.shield {
  background-position: -64px -192px;
}

.equipment-type.bow {
  background-position: -96px -192px;
}

/* 8th line */
.equipment-type.helmet {
  background-position: -64px -224px;
}

.equipment-type.helmet.heavy {
  background-position: -96px -224px;
}

.equipment-type.armor {
  background-position: -192px -224px;
}

.equipment-type.armor.heavy {
  background-position: -224px -224px;
}

.equipment-type.clothes {
  background-position: -256px -224px;
}

.equipment-type.disguise {
  background-position: -384px -224px;
}

.equipment-type.cloak {
  background-position: -448px -224px;
}

.equipment-type.belt {
  background-position: -480px -224px;
}

/* 9th line */
.equipment-type.gloves {
  background-position: 0 -256px;
}

.equipment-type.gloves.heavy {
  background-position: -32px -256px;
}

.equipment-type.boots {
  background-position: -64px -256px;
}

.equipment-type.boots.heavy {
  background-position: -96px -256px;
}

.equipment-type.ring {
  background-position: -128px -256px;
}

.equipment-type.amulet {
  background-position: -224px -256px;
}

.equipment-type.talisman {
  background-position: -256px -256px;
}

/* 12th line */
.equipment-type.flute {
  background-position: -192px -352px;
}

/* 14th line */
.equipment-type.map {
  background-position: -384px -416px;
}

/* 20th line */
.equipment-type.mount {
  background-position: -320px -608px;
}

.equipment p {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.equipment em {
  display: block;
  font-size: 12px;
  font-weight: initial;
  line-height: initial;
}
</style>
