<template>
  <div class="grid-items">
    <slot />
  </div>
</template>

<style>
.grid-items {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

/* Warning: elements inside a Grid must have a wrapper */
.grid-items > * {
  flex: 1;
  padding: 8px;
}
</style>
