<template>
  <div class="box-container">
    <article class="box" :class="type">
      <slot />
    </article>
  </div>
</template>

<script setup>
defineProps({ type: { type: String, default: '' } })
</script>

<style>
.box {
  display: block;
  height: 100%;
  padding: 24px;
  background-color: var(--vp-c-bg-soft);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
}

.dark .box {
  background-blend-mode: multiply;
}

.box.transparent {
  padding: 0;
  background-color: transparent;
  border: none;
}

/** Druid Elf **/
.box.nature {
  background-image: url('../assets/bg-nature.jpg');
}

.box.panther {
  background-image: url('../assets/bg-panther.jpg');
}

.box.vegetal {
  background-image: url('../assets/bg-vegetal.jpg');
}

.box.protector {
  background-image: url('../assets/bg-protector.jpg');
}

.box.elf {
  background-image: url('../assets/bg-elf.jpg');
}

/** Paladin Dwarf **/
.box.divine-sense {
  background-image: url('../assets/bg-divine-sense.jpg');
}

.box.lay-on-hands {
  background-image: url('../assets/bg-lay-on-hands.jpg');
}

.box.divine-punishment {
  background-image: url('../assets/bg-divine-punishment.jpg');
}

.box.divine-conduit {
  background-image: url('../assets/bg-divine-conduit.jpg');
}

.box.paladin-spells {
  background-image: url('../assets/bg-paladin-spells.jpg');
}

.box.paladin-aura {
  background-image: url('../assets/bg-paladin-aura.jpg');
}

/** Bard **/
.box.bard-spells {
  background-image: url('../assets/bg-bard-spells.jpg');
}

.box.bard-inspiration {
  background-image: url('../assets/bg-bard-inspiration.png');
}

.box.bard-public {
  background-image: url('../assets/bg-bard-public.png');
}

.box.bard-poetry {
  background-image: url('../assets/bg-bard-poetry.jpeg');
}

/** Texts */
.box h3 {
  margin: 0;
  font-weight: 600;
  color: var(--vp-c-text-1);
  text-align: center;
}

.box h4 {
  margin-top: 12px;
  color: var(--vp-c-text-1);
}

.box h4 a,
.box h3 a {
  display: none;
}

.box p {
  flex-grow: 1;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--vp-c-text-2);
}

.box ul {
  padding-left: 1rem;
  margin: 0 0.5rem;
  list-style: disc;
}

.box ul li {
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.box strong {
  font-weight: 600;
  color: var(--vp-c-brand-darker);
}

.dark .box strong {
  font-weight: 600;
  color: var(--vp-c-brand-lightest);
}
</style>
