<template>
  <div class="col-container" :style="{ flex: size }">
    <div class="col">
      <slot />
    </div>
  </div>
</template>

<script setup>
defineProps({ size: { type: Number, default: 1 } })
</script>
