<template>
  <h2>Compétences</h2>

  <div class="skills-container">
    <p v-for="s in stats.skills" :key="s.label">
      <span class="skill-title">{{ s.label }} ({{ s.mod }})</span>
      <span class="skill-value">{{ s.bonus }}</span>
    </p>
  </div>
</template>

<script setup>
defineProps({ stats: { type: Object, required: true } })
</script>

<style>
.skills-container {
  display: flex;
  flex-flow: column wrap;
  max-height: 72px;
}

.skills-container p {
  width: 220px;
  white-space: nowrap;
}

.skills-container .skill-title {
  display: inline-block;
  width: 150px;
}

.skills-container .skill-value {
  display: inline-block;
  width: 20px;
  text-align: right;
}
</style>
