<template>
  <Dropdown theme="rpg-helper" @show="getData">
    <BtnMock v-if="type === 'mock'" class="cc-action sm-btn" />
    <BtnLaugh v-if="type === 'joke'" class="cc-action sm-btn" />

    <template #popper>
      <p>{{ data[0] }}</p>
      <hr />
      <p>{{ data[1] }}</p>
      <hr />
      <p>{{ data[2] }}</p>
    </template>
  </Dropdown>
</template>

<script setup>
import BtnLaugh from '@/BtnLaugh.vue'
import BtnMock from '@/BtnMock.vue'
import FloatingVue, { Dropdown } from 'floating-vue'
import 'floating-vue/dist/style.css'
import { ref } from 'vue'

import jokes from '../assets/spell-joke.json'
import mocking from '../assets/spell-mock.json'
import '../floating-vue.css'

FloatingVue.options.themes['rpg-helper'] = {
  $extend: 'dropdown',
  triggers: ['click'],
  autoHide: true,
  placement: 'right'
}

const props = defineProps({
  type: {
    type: String,
    default: 'mock' // 'mock' | 'joke'
  }
})

const data = ref([])
function getData() {
  const list = props.type === 'mock' ? mocking : jokes
  // -2 and +1 to never get first and last indexes
  const index = Math.floor(Math.random() * (list.length - 2) + 1)

  data.value = [list[index - 1], list[index], list[index + 1]]
}
</script>

<style scoped>
.sm-btn {
  margin-inline-start: 8px;
  vertical-align: text-bottom;
}

hr {
  border-color: var(--vp-c-text-3);
}
</style>
