<template>
  <div class="stats-container">
    <h2>
      <a :href="stats.classUrl" target="_blank">{{ stats.class }}</a> niveau {{ stats.level }}
      <BtnMoon
        v-if="isAuthenticated && withLongRest"
        title="Se reposer"
        class="cc-action cc-action-global"
        @click="resetCounters"
      />
    </h2>

    <p v-if="stats.mastery">
      <span class="stat-title">Maîtrise</span>
      <span class="stat-value">{{ stats.mastery }}</span>
    </p>
    <Grid>
      <GridCol :size="0">
        <p>
          <span class="stat-title">Force</span>
          <span class="stat-value">{{ stats.mods.for }}</span>
        </p>
        <p>
          <span class="stat-title">Dextérité</span>
          <span class="stat-value">{{ stats.mods.dex }}</span>
        </p>
        <p>
          <span class="stat-title">Constitution</span>
          <span class="stat-value">{{ stats.mods.con }}</span>
        </p>
      </GridCol>

      <GridCol :size="0">
        <p>
          <span class="stat-title">Intelligence</span>
          <span class="stat-value">{{ stats.mods.int }}</span>
        </p>
        <p>
          <span class="stat-title">Sagesse</span>
          <span class="stat-value">{{ stats.mods.sag }}</span>
        </p>
        <p>
          <span class="stat-title">Charisme</span>
          <span class="stat-value">{{ stats.mods.cha }}</span>
        </p>
      </GridCol>
    </Grid>
  </div>
</template>

<script setup>
import eventBus from '../eventBus'
import { useFirebaseUser } from '../useFirebase'
import BtnMoon from './BtnMoon.vue'
import Grid from './Grid.vue'
import GridCol from './GridCol.vue'

const { isAuthenticated } = useFirebaseUser()

defineProps({
  stats: { type: Object, required: true },
  withLongRest: { type: Boolean, default: false }
})

// Send an event to reset all counters
function resetCounters() {
  eventBus.emit('reset-counters')
}
</script>

<style>
.stats-container p {
  width: 170px;
  white-space: nowrap;
}

.stats-container .stat-title {
  display: inline-block;
  width: 100px;
}

.stats-container .stat-value {
  display: inline-block;
  width: 20px;
  text-align: right;
}
</style>
