<template>
  <div class="user">
    <BtnLogout v-if="isAuthenticated" title="Déconnexion" @click="logout" />
    <BtnLogin v-else title="Connexion" @click="login" />
  </div>
</template>

<script setup>
import { sendSignInLinkToEmail, signOut } from 'firebase/auth'

import { auth, email, useFirebaseUser } from '../useFirebase'
import BtnLogin from './BtnLogin.vue'
import BtnLogout from './BtnLogout.vue'

const { isAuthenticated } = useFirebaseUser()

// Login with firebase
function login() {
  const actionCodeSettings = {
    // URL you want to redirect back to. The domain (www.example.com) for this
    // URL must be in the authorized domains list in the Firebase Console.
    url: location.href,
    // This must be true.
    handleCodeInApp: true
  }

  try {
    sendSignInLinkToEmail(auth, email, actionCodeSettings)
  } catch (error) {
    console.error(error.code, error.message)
  }
}

// Logout from firebase
function logout() {
  try {
    signOut(auth)
  } catch (error) {
    console.error(error.code, error.message)
  }
}
</script>

<style>
.user {
  cursor: pointer;
  user-select: none;
  transition: 0.3s color;
}

.user:hover {
  color: var(--vp-c-brand-darker);
}

.dark .user:hover {
  color: var(--vp-c-brand-lightest);
}
</style>
